.footer{
  margin-top : 20px;
}
.footer-group{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.footer-item{
  padding: 0 10px;
  color: black;
}

.fab{
  font-size: x-large;
  padding-right: 15px;
}