*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}
body{
    max-width:960px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

//VALERIA
.regcontainer{
    width:100%;
    margin-left: 10%;
    margin-top: 2%;
}
.regformulario{
    background-color: #F5F1E6;
    padding-bottom: 20px;
    padding-top:20px;
}
.regcolumna{
    background-color: #CCCBCA;
    border-right: solid white 20px;
    padding-top:20px;
    padding-bottom: 20px;
}
.regh1{
    font-size: 18px;
    color: #B7AC9E    ;
    font-family: 'Lato', sans-serif;
    width:100%;
    text-align: right;
    text-transform: uppercase;
border-bottom: solid 1px #CCCBCA  ;

}
.regtitulo{
    font-size: 22px;
    color: #B7AC9E    ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.regboton{
    background-color: #B7AC9E ;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.regtitulo2{
    font-size: 22px;
    color: #474645  ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input:hover{
    border: black 1px solid;
}
.regimg{
    width: 100%;
    margin-top: 10px; 
}
@media (max-width:768px){
    .regcolumna{
        border: none !important;
        margin-top: 20px !important;
    }
    .regimg{
        display:none;
    }
}

// IGNACIO
.navbar-expand-lg{ /* Decoracion y posicionamiento navbar */
  position: relative;
  left: 400px;
  width: 740px;
  background-color: #CCCBCA !important;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white !important;
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link{/* Decoracion elementos del Navbar */
  margin-left: 3px;
  width: 116px;
  text-align: center;
  color:white;
}
.navbar-nav .dropdown-menu{ /*Fondo menu desplegable*/
  background-color: #CCCBCA;
}
a {
  color: white !important;
}
/*Colores solicitados al pasar el mouse sobre las pestañas. Nota-> "Tienda" va adentro de categorias por eso al pasar el mouse salta el color */
.home:hover{
 background-color:#228B22;
}

.consejos:hover{
  background-color: #98FB98;
}

.q_s:hover{
  background-color: #AFEEEE;
}
.q_s{
  width: 100% !important;
  text-align: center !important;
  height: 42px;
  position: relative;
  right: 3px;
}

.tienda:hover{
  background-color: #20B2AA;
}

.q_a:hover{
  background-color:#B7AC9E;
}

h2{
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 300;
}