/* Pagina de Registro y Login*/
.regcontainer{
    width:100%;
    clear: both;
    padding-bottom: 50px;
    padding-top: 20px;
}

.regformulario{
    background-color:#EBFAE3  ;
    padding-bottom: 20px;
    padding-top:20px;
}

.regcolumna{
    background-color: #CCCBCA;
    border-right: solid white 20px;
    padding-top:20px;
    padding-bottom: 20px;
}

.regh1{
    font-size: 18px;
    color: #474645   ;
    font-family: 'Lato', sans-serif;
    width:100%;
    text-align: right;
    text-transform: uppercase;
    border-bottom: solid 1px #CCCBCA  ;
    padding-top: 30px;
    padding-bottom: 20px; /* le agregue esta linea */
    margin-bottom: 20px; /* le agregue esta linea */

}
.regtitulo{
    font-size: 22px;
    color: #474645   ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.regboton{
    background-color: gray ;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.regtitulo2{
    font-size: 22px;
    color: #474645  ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
input:hover{
    border: black 1px solid;
}

.regSubirAvatar{  /* le agregue estos atributos */ 
    margin-top: 10px; 
    margin-bottom: 15px; 
    width:50%;
}
.regimg{
    width:100%;
    margin-top: 20px; 
}
